<a href="https://colab.research.google.com/github/HarshAade/DS_AI/blob/main/Python_One_short.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Data Type in Python*

*Variable in python are like container*

In [ ]:
name = 'Harsh'      # Here name is variable
print(name)         # Variable is printed by using prijnt statement

Harsh

In [ ]:
# Now lets Take user define value from the user and print it
nam = input( 'Enter your name : ')
print(nam)

Enter your name : Harsh
Harsh

In [ ]:
# Now lets print promopt in print function
name = input( 'Enter your name : ')
print('Hello', name)

Enter your name : Harsh
Hello Harsh

*Data Type in python*
   
                              In pyhton we say
    1} Integers    = 10        = Integres
    2} Real number = 10.34     = float
    3} Words       = "Harsh"   = string

    In Python we can check data type using type commont

In [ ]:
type(10)

int

In [ ]:
type(10.34)

float

In [ ]:
type("Harsh")

str

     String are the set of character which are enclosed in single or double
     coat it can content combination of letter , number , symbol & even of
     blank spaces  

     There is one more data type
       Boolen it take either True or False

In [ ]:
type(True)

bool

*Type Casting*

      Which means we can convert float to int , int to string like this

In [ ]:
float(10)

10.0

In [ ]:
int(4.3)  # in this when we convert float to int we loss some value

4

In [ ]:
str(10)

'10'

    Boolen convertions:  
      1} True  == int(True) or float(true)   ---- 1
      2} False == int(false) or float(false) ---- 0
      3} 1  == bool(1)  ---- True
      4} 0  == bool(0)  ---- False

*Some Example* :

In [ ]:
x = 3.5
print(float(int(x)))

3.0

In [ ]:
name = Varma
print(type(name))

NameError: name 'Varma' is not defined

## *Arithmetic Operations*

In [ ]:
a = 10
b = 2
print('additon = ',a+b)
print('subtraction = ',a-b)
print('multiplication = ',a*b)
print('division = ',a/b)
print('modulus or remainder = ',a%b)
print('exponential = ',a**b)
print('floor division = ',a//b)
#square and cube
print('square = ',a**2)
print('cube = ',a**3)

additon =  12
subtraction =  8
multiplication =  20
division =  5.0
modulus or remainder =  0
exponential =  100
floor division =  5
square =  100
cube =  1000

*Some Example* :

In [ ]:
x = 3
y = 2.5
z = 5
print(X + y / z)

NameError: name 'X' is not defined

[*Operator precedencet*](https://docs.python.org/3.7/reference/expressions.html#operator-precedence)

    Follow the operator precedence rule in Python for more detail

In [ ]:
4 % (1 + 9)**2 - 60 // (7 + 2)

-2

## *String operation*

    # Strings are always enclosed either in single coat or double coat ' ', " "
    # Charcater must always defined in single or double coat it must be single or combination
    # Strings are immutable {immutable means = we cannot change element inside the object once created}

In [ ]:
a = 'H'
b = "Harsh"
print(a)
print(b)

H
Harsh

In [ ]:
# BY using len() function we can see the length of the string
h = "Harsh"
print(len(h))

5

     Acssing the element and it is also called as slicing

In [ ]:
# String always store the element in index form and by uisng it we can access it
# first location start 0
v = 'Harsh Aade'
v[0]

'H'

In [ ]:
v[-1]

'e'

     Start : stop : step
       1} [::-1] = for printing complete string in reverse order
       2} [::1]  = for printing complete string in the way as it is

In [ ]:
v[::-1]   # for reverse order of string

'edaA hsraH'

In [ ]:
v[::1]    # for complete string

'Harsh Aade'

In [ ]:
v[::2]

'HrhAd'

In [ ]:
# Slicing of sentence
ha = "my Name is harsh aade i am 4th year be student"
# here is the all possible option
a=ha[0:10]
b=ha[20:30]
c=ha[30:]
d=ha[::2]
e=ha[::-1]
print(a)
print(b)
print(c)
print(d)
print(e)

my Name is
e i am 4th
 year be student
m aei as aeia t erb tdn
tneduts eb raey ht4 ma i edaa hsrah si emaN ym

In [ ]:
# membership ; lets check the string or any word is there in tge sentence or not
print('name' in ha)  # name is there but n is captial
print('harsh' in ha)
print('son' in ha)

False
True
False

In [ ]:
# lets do string concatenation it is done by uisng + operator
# The double coat is assign for gap between them
                     # Space is also a charchter

a = 'Harsh'
b = 'Aade'
print(a + " " + b)   # The double coat is assign for gap between them
                     # Space is also a charchter

Harsh Aade

In [ ]:
# now lets join int and float in string by type casting
# rstrip() function
# lstrip() function
# Channing
# Lets count the function
# lets do string concatenation it is done by uisng + operator
# The double coat is assign for gap between them
                     # Space is also a charchter
age = 20
salary = 10000.5
print('My age is ' + str(age) + ' and my salary is ' + str(salary))

My age is 20 and my salary is 10000.5

*String method*

In [ ]:
s = "Harsh is a good boy"
s.upper()

'HARSH IS A GOOD BOY'

In [ ]:
u = "HARSH IS IN MUMBAI "
u.lower()

'harsh is in mumbai '

In [ ]:
# rstrip() function
# lstrip() function
# Channing
# Lets count the function
s = "Harsh    "
print(s)
s.rstrip()

Harsh

'Harsh'

In [ ]:
h = "Harsh"
h.replace('h','&')

'Hars&'

In [ ]:
a = 'Harhs2'
print(a.rstrip('2'))   # last charcharter as been removed

Harhs

In [ ]:
# lstrip() function
# Channing
# Lets count the function
b = "    Harsh"
print(b)
b.lstrip()

    Harsh

'Harsh'

In [ ]:
# Channing
# Lets count the function
c = "******HarsH######"
print(c)
print(c.rstrip('#').lstrip('*'))

******HarsH######
HarsH

In [ ]:
# Lets count the function
s = "harsh is 20 year old and in 4th year "
print(s.count('a'))      # from starting index 0
print(s.count('a',8))    # form 8th index

4
3

      String Problem
        Description
           In a certain encrypted message which has information about the location(area,
           city), the characters are jumbled such that the first character of the first word is followed by the first
           character of the second word, then it is followed by the second character of the first word and so on.

    In other words, let’s say the location is bandra,mumbai
    The encrypted message says ‘bmaunmdbraai’.
    
    Sample Input:
      bmaunmdbraai
    Sample Output:
     bandra,mumbai

In [ ]:
input_string = "bmaunmdbraai"
m = input_string[::2]
a = input_string[1::2]
print(m +","+a)

bandra,mumbai

In [ ]:
#Consider the string given below and answer the following questions
string = "OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ"
string[46]

'm'

*Additional Reading*
    If you want to learn more about the topics provided in this module, you can optimally use the following resources.

[ Think Python](https://greenteapress.com/wp/think-python-2e/)

[*The hitchhiker's guide to Python*](https://docs.python-guide.org/intro/learning/)

[*A byte of Python*](https://python.swaroopch.com/)

[*Jupyter magic commands*](https://ipython.readthedocs.io/en/stable/interactive/magics.html)




*Advanced Level:*

[*Problem-solving with algorithms*](https://runestone.academy/ns/books/published/pythonds/index.html)

## *Data Structures in Python*

*Tuple*

    1} it is immutable it means the changes can't be made
    2} it is also know as campound data type
    3} they are coverd by round bares
    4} in it mixed data types are allowed  
    5} a tuple can be defined without using parenthesls also
    6} indexing can be done on the tuple same like we learnd before indexing start from 0 they also support negetive indexing it is also called as reverse indexing
    7} Slicing can be also perform on the tuple it means fetching set of element from the tuple
    8} by using len function we can find total element in the tuple
    9} Concatenating tuples can be done using + operator
    10} Python built in function like sum(), min(), max() can be formed on it  
    11} adding new value can be example
        t = ("USA",4,3,"Mumbai",7.5)
        t[3] = "Amravarti" ----error
        new_t = t[0:3] + ("Harsh") + t[4:]
        new_t   -- output : ("Use",4,3,"Harsh",7.5)
    12} Python provide built in function sorted for tuple so by using it can sort it
        #  Sorted function always return a list
    13} tuple itself is also a object so we can store tuple inside tuple in sort we can say nested tuple to it
    14} Packing and unpacking in tuple
        example :
          t = (1,2,3,4)      # Packing
          (a,b,c,d) = t      # Unpacking
          print(a)           # Output: 1
    15} by using dir() we can view the attributes or methods of an objects

*Some example* :

In [ ]:
t = ("disco", 12, 4.5)
t[0][2]

's'

*list*

    1} it is mutable it means they are updated the changes can be made
    2} it is also know as campound data type
    3} lists are ordered sequnce of mixed data types
    4} They are inclosed in square brackets
    5} we can create list inside list and tuple inside list
    6} in this we can acces through index and it can be acces through negetive indexing also
    7} Slicing can also be taken place
    8} membership can be acces
    9} list concatanetion can be done
    10} Changes can be made by using index number
    11} by using extend() method we can add element but it will be inserted in last of element and all the element will be indivisulal
       # extend(): Extend a list by adding elements at the end of the list
    12} appned insert it by list form as it is given in the square bracket
      # append(): Append an object to the end of a list
    13} we can Delete element by using index and by using del comment we can delete a bunch of element also same like slicing
    14} by using pop() method we can delete last element of the list
    15} by using list we can remove element by using element name
    16} by using sort() method we can sort the given list by default it will solve in asceding order if sort(revserse = True) then it will sort in descding order  
       # sort() is method belonging to the list object
       # sorted() is a function it is built in function in python  
    17} Mutable means we can change the element of the list
        # Shallow copy can be done
          a = ['harsh','saroj','kishan']
          b = a
          a[0] = 'hello'
          a & b both output same like
            = ['hello','saroj','kishan']
          so we will other trick  
          a = ['harsh','saroj','kishan']
          b = a[:]
          a[0] = 'hello'
          a = ['hello','saroj','kishan'] -- it will only change
          b = ['harsh','saroj','kishan'] -- it will not change

In [ ]:
# membership ; lets check the string or any word is there in tge sentence or not
l = [1,2,3,4,5]
print(1 in l)
print(6 in l)

True
False

In [ ]:
# Convert tuple into list and add python and then convert back to tuple
input_tuple = ('Monty Python', 'British', 1969)
list_tuple = list(input_tuple)
list_tuple.append('Python')
input_tuple = tuple(list_tuple)
print(input_tuple)

('Monty Python', 'British', 1969, 'Python')

In [ ]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

## *Sets*

    1} Sets is also a type of collection which can have data of differnt data types
    2} Unlike list and tuple they unordered so its make indexing impossible with it self it means sets do not record element in position
    3} Every element in the set is unquie or in other words there is no repeation in the set it always take unqiue element
    4} It is always define by using curly bracket {}
    5} By uisng set{} function we can convert list and tuple into set
    6} As we know list and tuple have duplicate value so when we convert it into set
       All duplicate value will be deleted and in the set all the unquie value be there
    7} By using python built function len() we can find length of the set
    8} Sets are mutable it means we can add element in the sets using add() method it is not like other it can store element randomaly not in last only
    9} By remove method we can remove element
    10} Set provide set operation
       A = {0,2,4,6,8}
       B = {1,2,3,4,5}
        Set methods
          A} Union represents the total unique elements in both sets.
           == A.union(B) → {0, 1, 2, 3, 4, 5, 6, 8}
          B} Intersection represents the elements common to both sets.
           == A.intersection(B) → {2, 4}
          C} Difference(A-B) represents the elements present in A and not in B.
           == A.difference(B) → {0, 6, 8}
          D} The symmetric difference represents the union of the elements A and B minus the intersection of A and B.
           == A^B → {0, 6, 8, 1, 3, 5}

In [ ]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [ ]:
a = [5,5,5,5,5,5,5,3]
b = [3,3,5,5,1,7,2]
c= set(a)
d=set(b)
print(list(c.intersection(d)))

[3, 5]

## *Dictionaries*
    
    1} Dictionaries in pythom store element in key value pair  
    2} key is the index its always unquie & immutable and the value are object which content the information they are mutable immutable or duplicates
    3} Value are access through there keys  
    4} Represents empty dictionary = {}
       represents an empty = set({})
    5} By using key we can acces value
    6} dictionaries are mutable we can change the value of the dictionaries
    7} if key is present in the dictionaries then it will update the value of that key and if the key is not present in the dictionarie then it will add key value pair
    8} by using del commont we can delete the element means when we delete key the value is also been deleted it will reomve complete key value pair form the dictionaries
    9} by using sorted function in the dictionaries we can sort it but the output will be key only
    10} by using value method we can access through all value
    11} same like for keys also by using keys method we can access all the keys
    12} by using update method we can update the key value pair

*Summmary*

    1} As till now we have learn list , tuple , set , dictionaries they are ntg but commond data type
    2} tuple is immutable
       set is unorder collection of element here indexing slicing is not done

# Control structures and functions

    Binary operators
      1} work with 2 operands
      2} operand can be
         a} variable
         b} value
         c} expression
      3} Example: a+b
           here '+' is the operator and a,b are the 2 operands  
    Relational Operators
      1} type of binay operators
      2} Used to compare value
      3} Returns a boolean value
      4} few relation operator include
          a} == : equal to     --- for comparing
          b} != : not equal to   
          c} <  : less than
          d} >  : greter than
          e} <= : less then equal to
          f} >= : Greater then equal to

## *Decision Making*

     # Whenever we write a program or algorthim the situtaion arries where we have to choos between 2 option so here the term comes decision making algorthim
     # Decision making process is impleated using python key word if and else
     # in if and else statement if the if block condition match then the msg will print diffenrnt and if the if condition does'nt matches the input the else block will be excuted

     There is one more type of operators which is said to be logical operators
       a} it works on boolean operands and return a boolean result
       b} they are use to combine multiple relational operations together
       c} 3 logical operators are provided in python which are "and" , "or" , "not"

*Example on Decision making*
   
     Problem Statement:
        Shopping mall offers customer with discounts based on their bill
            1} shopping amount exceeds 5000 the customer gets a discount of 1000 rupees
            2} shopping amount in between 5000 and 2500 customer get a discount of 500 rupees
            3} shopping amount in between 1000 and 2500 customer gets a discount of 100 rupees

In [ ]:
shopping_amount = int(input("Enter amount : "))

if shopping_amount > 5000:
    print("You get a discount of 1000")
elif shopping_amount > 2500:
    print("You get a discount of 500")
elif shopping_amount > 1000:
    print("You get a discount of 100")
else:
    print("You don't get any discount")

Enter amount : 4000
You get a discount of 500

*Loop & iteration*

    1} Iteration means : repeated execution of a set of statements
    2} Implemented using 'for' loops and 'while' loops
    3} iteration in python is identifie by the 2 cases
       1) Counter driven loops
          a} iterate over a fixed set of value
            - provided in the form of iterable objects such as strings, list, tuple, etc
            - also generated using a range() function
          b} can be used to access elements of data structure such as list, tuple, etc
          c} can be used to count a finite number of iterations
          d} Implemented using for - command

In [ ]:
l = list(range(10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(0,22,3):
    print(i)

0
3
6
9
12
15
18
21

In [ ]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i, end = " ")

0 1 2

    Another type of looping is event base looping
     - it base on an event occruing inside the iteration block  
     - event based iteration implemented using while loop statement
     - this loop is completely base on user input

In [ ]:
ch = " "
while ch != "q":
    ch = input("Enter a character : ")
    print(ch)

Enter a character : 1
1
Enter a character : 2
2
Enter a character : 3
3
Enter a character : q
q

In [ ]:
while True:
    ch = input("Enter a character : ")
    if ch == "q":
        break
    print(ch)

Enter a character : 1
1
Enter a character : 2
2
Enter a character : 3
3
Enter a character : q

*Comprehensions*

     1} It Provide a concise way to construct sequences (Lists, sets, dictionaries , ect)
     2} Python support 3 types of comprehensions
        a} List comprehension
        b} Dictionary comprehension
        c} set comprehension

*List Comprehension*

In [ ]:
l1 = {'Harsh','Kishan','Aade','Saroj'}

l2 = []
for i in l1:
    l2.append(len(i))
print(l2)                                       # by using for loop

[5, 5, 6, 4]

In [ ]:
l1 = {'Harsh','Kishan','Aade','Saroj'}

l2 = [len(i) for i in l1]
print(l2)                                       # by using list comprehension

[5, 5, 6, 4]

In [ ]:
# iterating over i1 & i2 simultaneously

for i,j in zip(l1,l2):
    print(i,'=',j)

Saroj = 5
Harsh = 5
Kishan = 6
Aade = 4

*Dictionary Comprehension*

In [ ]:
l1 = {'Harsh','Kishan','Aade','Saroj'}

d = {i : len(i) for i in l1}
print(d)

{'Saroj': 5, 'Harsh': 5, 'Kishan': 6, 'Aade': 4}

*Set operation*

In [ ]:
# Write a program which takes a word as input from user and returns vowels from the word
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
print(vowels)

Enter a word : Harsh love to plat cricket
{'o', 'e', 'i', 'a'}

*Some example* :

In [ ]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [ ]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [ ]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

## *Function in python*

    A function define as
      1} A block of organized, reusble code to perform a particular action
      2} provide better modularity
      3} Built in function include print(), input(),type(), etc
      4} syntax
            def sum():       --- def is the keyword & sum is the function name it can br anything follwed by closed parenthesis & smicolon to start to block of function

In [ ]:
# write a function which takes a value as a parameter and returns the factoiral
def factorial(n):
  fact = 1
  for i in range(1 , n+1):
    fact *= i
  return fact

factorial(5)

120

In [ ]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [ ]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

*Function Arguments*

       there are 4 way we can define arguments

       1} if there is parameter mention in the function defention then we have to pass the argument otherwise we will get error it is called as requerted postiton argument
       2}

In [ ]:
def func(name , age = 15):         # here we have mention age 15 it is said to be default parameter
  print("name : " , name)
  print("age : " , age)

In [ ]:
func("Harsh",20)

name :  Harsh
age :  20

In [ ]:
func("Harsh") # has we didnt mention age so age is printed because we have assige defaut parameter

name :  Harsh
age :  15

In [ ]:
def func(name, age = 15 , city = "Mumbai"):
  print("name : " , name)
  print("age : " , age)
  print("city : " , city)

In [ ]:
func("harsh",city = "nagpur")     # in this we are assigning key to the argument so we can say that it is key word argument

name :  harsh
age :  15
city :  nagpur

In [ ]:
# python proivde a unqiue way to pass multiple values to a single parameter
# such kind of parameter are define by the * followed by the name of the parmater
# it is also know as variable length argument
def var_func(*args):
  print(args)

var_func(1,2,"hasrg")

(1, 2, 'hasrg')

    Python provide a unquie way to define a function in a single line using lambda operator  
     1} Traditional approach
         sum(a,b):
           return a + b
         sum(2,3)
     2} Lambda function
         f = lamnbda x,y : x + y     --- sense lambda function does not have name so we also called as anonomiuse functions  
     3} f holds a function object and can be called as f(2,3) for calculating the sum of 2 and 3

In [ ]:
# Write a lambda function to check a number is even or odd
f = lambda x : "even" if x % 2 == 0 else "odd"
f(10)

'even'

In [ ]:
f(11)

'odd'

## *Map, filter and reduce function*

    Map
      1} a map function is a utility function in python
      2} maps a collection to another collection object based on certain functionality
      3} syntax: map(function,iterable object)

In [ ]:
countries = ['India','Japan','Italy','France']

# map the list to obtain the names of countries in uppercase
print(list(map(lambda x: x.upper(), countries)))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [ ]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [ ]:
def multi(x):
    return x*2

list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)

print(list(sample_map))

[2, 4, 6, 8]

    Filter
      1} filter(function,iterable object)
      2} Function here should return a boolean value

In [ ]:
# filter the country names start with "I"
list(filter(lambda x: x.startswith('I'), countries))

['India', 'Italy']

    Reduce
      1} it is provide by the functool moduole of python
      2} it use to reduce the given collection ot iterable object to a certain functionlty
      3} it takes collection as paramters and a function object
      4} the function object must be always 2 parmater fucntion which tells the functionlty  on which the collection need to be reduce

In [ ]:
# reduce the list to concatenate the countries names into a single string variable spareted by ""
from functools import reduce
reduce(lambda x,y: x + ' '+ y, countries)

'India Japan Italy France'

*Some Example* :

In [ ]:
l1 = (2,4,5)
print(map(lambda x: x **2, l1))
print(list(map(lambda x: x **2, l1)))

<map object at 0x7d4e3aac2dd0>
[4, 16, 25]

In [ ]:
# Defining a function and using it in map
L1 = (2,3,4)
def square(x):
    return x**2

print(list(map(square, L1)))

[4, 9, 16]

In [ ]:
# Filter function to return the multiples of 3
my_list = [3,4,5,6,7,9]
divby3 = lambda x: x % 3 == 0
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [ ]:
# Write a python program to count the students above age 18
students_data = {1:["harsh",15],2:["saroj",56],3:["kishan",8]}
len(list(filter(lambda x : x[1] >= 18, students_data.values())))

1

In [ ]:
# Reduce to return product of element
from functools import reduce

q = reduce(lambda x,y: x*y, range(1,4))
print(q)

6

*Summary*

[*Functions- A Byte of Python*](https://python.swaroopch.com/functions.html)

[*Comprehensions explained visually*](https://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/)

[*Python 3 idioms test*](https://python-3-patterns-idioms-test.readthedocs.io/en/latest/Comprehensions.html)

## *Object-Oriented Programming in Python*

*Class and Objects*

    In python everthing is an object , evrey object has 3 characteristics
    which are
      1} Type
      2} Internal Representation
      3} set of function called as = Methods - to interact with the data
      4} object is the instance of particular type
        for example  
           evreytime when we create integer we are creating instance of that integer type  
            a,b,c = 1,2,3           -- a,b,c integer objects
      5} the attribute and methods of an object are define in a class
      6} methods are function that every instance of class or type provide

    Objects
    Characteristics
      1} List object
          countries = ['India','Pakistan','Afghanistan',]
      2} sort method
          countries.sort()  ---  countries is object , sort dot operator  
          and the method called follwing the paratheses and method name
      3} Method changes the state of the object
         ['Afghanistan','Bangladesh','India','Pakistan']

    Creating a class rectangle

    Defining a class
      -  length and breath as attributes
      -  init() - constructor  of class
      -  self parameter - refers to the newly created instance of the class
      -  attributes length and breadth are associated with self - keyword to identify them as instance variables

In [ ]:
class rectangle:
  def __init__(self):             # inside __init__() method we are defining
  # it acts like a constructor of a class , self is the parameter
    self.length = 10
    self.breadth = 5

     - Create the object by calling name of the class followed by parenthesis
     - print the value using dot operator

In [ ]:
rect = rectangle()
print("Lenght = ",rect.length,"\nBreadth = ",rect.breadth)

Lenght =  10
Breadth =  5

    - In last example we have assign the value the value to our attributes its not
    - The right way in real life we have to take from the user so for that
    - We are assigning are attrubite in the " Parametrised Constructor "
    - Parametrised constructor - dynamically assign the attribute values during object creation

In [ ]:
class rectangle:
  def __init__(self,l,b):
    self.length = l
    self.breadth = b

rect = rectangle(15,51)
print("Lenght = ",rect.length,"\nBreadth = ",rect.breadth)

Lenght =  15
Breadth =  51

    Whenever are we are dealing with the object some attrubite
    are going to be unqiue while some will be share

    - Lets say each student in class room has same room number and same taecher
    - But they have unqiue name , age , fav_sub

In [ ]:
# Class Variables and instance variable

class Student:
  teacher = "Kishan Aade"         # Class Variable
  Room = "101A"                   # Class Variable

class Student:
  def __init__(self, name, age, fav_sub):
    self.name = name             # instance variable
    self.age = age                # instance variable is also called as data attributes
    self.fav_sub = fav_sub       # instance variable

ravi = Student("ravi", "1", "English")
harsh = Student("harsh","2","Marathi")
print(ravi.fav_sub)

English

In [ ]:
print(harsh.fav_sub)

Marathi

    - Lets create class circle and instance variables

In [ ]:
class circle:
  pi = 3.14
  def __init__(self,radius):
    self.radius = radius

In [ ]:
circle_1 = circle(6)
print("radius = {} \t pi = {}".format(circle_1.radius,circle_1.pi))

radius = 6 	 pi = 3.14

In [ ]:
# Updating pi value

circle.pi = 3.1436

circle_1 = circle(8)
print("radius = {} \t pi = {}".format(circle_1.radius,circle_1.pi))

radius = 8 	 pi = 3.1436

    So, let's add a class variable called company code to our employee class.

In [ ]:
class Employee :
    company_code = "EMZ"
    def __init__(self,age, name,eid):
            self.age = age
            self.name = name
            self.eid = eid

In [ ]:
E1 = Employee(24, 'Ravi', 101)
E1.age

24

In [ ]:
E1.name

'Ravi'

In [ ]:
E1.company_code

'EMZ'

In [ ]:
class Student:
    standard = 'IV'
    def __init__(self,age,name,Cid):
        self.age = age
        self.name = name
        self.id = Cid

## *Adding a Methods to class*

    - Methods are functions that interact change the data attribute
    - Characterice of method
        Always call unobject using dot operator

In [ ]:
# Creating self method for calculating rectangle

class Rectangle:
    def __init__(self,l,b):
      self.len = l
      self.bre = b

    def calcaluate_area(self):
      return self.len * self.bre

In [ ]:
rect = Rectangle(55,44)
print("Lengrth = ",rect.len,"\nBreadth = ",rect.bre,"\nArea = ",rect.calcaluate_area())

Lengrth =  55
Breadth =  44
Area =  2420

    Class methods
      1} Bound to class
      2} Receive class object as the implicit first argument
      3} 'cls' parameter represents the class object
      4} Cannot access instance variable
      5} Defined using
          @classmethod
    Static method
      1} Bound to class
      2} doesn't require any implicit first argument
      3} Implementing functionality having logical connection to the class
      4} Cannot access instance variable
      5} Defined using
          @staticmethod

*Class method & Static method*

In [ ]:
class Circle:
  pi = 3.14
  def __init__(self,radius):
    self.radius = radius

  # instance method
  def area(self):
    return  self.radius * Circle.pi

  # class method
  @classmethod
  def access_pi(cls):
    cls.pi = 3.1436
    return cls.pi

  # static method
  @staticmethod
  def circle_static_method():
    print("This is a static method")


cir = Circle(5)

In [ ]:
cir.area()

15.700000000000001

In [ ]:
Circle.pi

3.14

In [ ]:
cir.pi

3.14

In [ ]:
# before pi value was not change after calling the value has been change
Circle.access_pi()

3.1436

In [ ]:
cir.pi

3.1436

In [ ]:
Circle.circle_static_method()

This is a static method

*Method vs Functions:*

    1}In Python, functions are called generically, whereas methods are called on an object to access the data within it.
    2}A 'Method' may alter an object's state, but Python 'Function' usually only operates on it and then returns a value.

In [ ]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z

    def update_y(self):
        self.y = self.y * self.x
        self.z = self.z * self.x

A1 = A(3,4)
A2 = A(5,6)

A1.update_y()
A1.y + A2.z

36

In [ ]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z

    def update_y(self):
        self.y = self.y * self.x

    @classmethod
    def update_z(cls):
        self.z = self.z + 20


A1 = A(3,4)
A2 = A(5,6)

A2.update_z()
A1.y + A2.z

NameError: name 'self' is not defined

In [ ]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z

    def update_y(self):
        self.y = self.y * self.z



A1 = A(3,4)
A2 = A(5,6)

A.x = 30
print(A1.y + A2.x)

33

## *Class Inheritance and Overriding*

    Inheritance is the capabilty of one class to derive or inheritance property from other class
    Benfite of inheritance is that it provides reusableity of code we don't have to write same code again and again
    Also it allows us to add more feature to the class without modifying it
    it is transtive in nature which means if class inheri from class a thrn all the sub classes of b would automiaclly inherit attributes from a

In [ ]:
class shape:

  def set_color(self,color):
    self.color = color

  def calculate_area(self):
    pass

  def color_the_shape(self):
    color_price = {'red': 10 , 'blue':15,'green':5}
    return self.calculate_area() * color_price[self.color]

In [ ]:
class Circle(shape):   # its a child class
    pi = 3.14
    def __init__(self,radius):
      self.radius = radius

    # Overridding
    def calculate_area(self):
      return self.radius * Circle.pi

In [ ]:
# Creating object of class
c = Circle(5)
c.set_color('red')
print("Circle of radius =",c.radius , "When colored", c.color, "cost $ = ",c.color_the_shape())

Circle of radius = 5 When colored red cost $ =  157.0

In [ ]:
class Rectangle(shape):
  def __init__(self,length,breadth):
    self.length = length
    self.breadth = breadth

  # Overridding user defined method
  def calculate_area(self):
    return self.length * self.breadth

  # Overridding python default method
  def __str__(self):
    return "area of rectangle = " + str(self.calculate_area())

In [ ]:
r = Rectangle(5,10)
r.set_color('blue')
print("Rectangle with length = ",r.length," and breadth = ",r.breadth, "When colored", r.color, "cost $ = ",r.color_the_shape())

Rectangle with length =  5  and breadth =  10 When colored blue cost $ =  750

In [ ]:
print(r)

area of rectangle = 50

In [ ]:
class A:
    def __init__(self, x=1):
        self.x = x
class B(A):
    def __init__(self,y =2):
        super().__init__()
        self.y = y

def main():
    b = B()
    print(b.x,b.y)
main()

1 2

*summary*

In [ ]:
# Write a function remove_duplicates(s: str) -> str that takes a string 's' as input and returns a new string with duplicate characters removed.
# The order of the characters should be maintained.


def remove_duplicates(s: str) -> str:
  seen = set()
  result = ""
  for char in s:
    if char not in seen:
      result += char
      seen.add(char)
  return result

# take input and provide output
s = input()
print(remove_duplicates(s))

harsh
hars

In [ ]:
# Write a function is_perfect_number(number: int) -> bool that takes an integer 'number' as input and returns 'True' if the number is a perfect number and 'False' otherwise.
# A perfect number is a positive integer that is equal to the sum of its proper divisors (excluding the number itself).

def is_perfect_number(number: int) -> bool:
  sum = 0
  for i in range(1,number):
    if number % i == 0:
      sum += i
  return sum == number

# Take input and provide output
number = int(input())
print(is_perfect_number(number))

28
True

In [ ]:
# Write Python code to find elements common between the two lists.
# The output list should exclude duplicate elements. i.e. if both lists have 1 twice then the output list should have 1 only once.
# The input will contain two lines with two lists.
# The output should contain a list of common elements between the two input lists


# list of common elements between the two input lists.

l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7]
l3 = []
for i in l1:
  if i in l2:
    l3.append(i)
print(l3)

[3, 4, 5]

In [ ]:
# prompt: take list in one input and spearte common one dont take input 2 times

# Function to find common elements in two lists
def find_common_elements(list1, list2):
    result = []
    for x in list1:
        if x in list2 and x not in result:
            result.append(x)
    return result

# Input list1 and list2
list1 = input("Enter the first list (separated by spaces): ").split()
list2 = input("Enter the second list (separated by spaces): ").split()

# Find and print common elements
common_elements = find_common_elements(list1, list2)
print("Common elements:", common_elements)

Enter the second list (separated by spaces): 2 4

In [ ]:
# prompt: You are given a list of tuples, where each tuple represents a person's information. Each tuple contains three elements: first name, last name, and age. Your task is to write a function, concatenate_tuples(tuples_list), that takes this list of tuples as input and returns a new list of tuples, where each tuple contains the concatenated first and last names of a person.
# The concatenation should be

def concatenate_tuples(tuples_list):
  """
  Concatenates the first and last names of persons in a list of tuples.

  Args:
    tuples_list: A list of tuples, where each tuple contains a person's first name, last name, and age.

  Returns:
    A new list of tuples, where each tuple contains the concatenated first and last names of a person.
  """

  concatenated_tuples = []
  for first_name, last_name, _ in tuples_list:
    concatenated_tuples.append((first_name + " " + last_name,))
  return concatenated_tuples

# Example usage
tuples_list = [("John", "Doe", 30), ("Jane", "Smith", 25), ("Alice", "Johnson", 40)]
concatenated_tuples = concatenate_tuples(tuples_list)
print(concatenated_tuples)

In [ ]:
def concatenate_tuples(tuples_list):
    # Initialize an empty list to store the results
    result = []

    # Iterate through each tuple in the input list
    for first_name, last_name, age in tuples_list:
        # Concatenate the first and last name with a space in between
        full_name = f"{first_name} {last_name}"
        # Create a new tuple with the concatenated name and the age
        new_tuple = (full_name, age)
        # Append the new tuple to the result list
        result.append(new_tuple)

    # Return the result list
    return result

# Example usage:
tuples_list = [('John', 'Doe', 25), ('Alice', 'Smith', 32), ('Bob', 'Johnson', 40)]
output = concatenate_tuples(tuples_list)
print(output)  # Expected output: [('John Doe', 25), ('Alice Smith', 32), ('Bob Johnson', 40)]

In [ ]:
# prompt: Write a program to implement the Rational class using operator overloading. This class should contain the following methods:
# __init__: Used to initialise nominator and denominator of the rational number
# __add__: Used to add two rational numbers together
# __sub__: Used to subtract one rational number from another
# __mul__: Used to multiply two rational numbers together
# __truediv__: Used to divide

class Rational:
    def __init__(self, nominator, denominator):
        self.nominator = nominator
        self.denominator = denominator

    def __add__(self, other):
        new_nominator = self.nominator * other.denominator + self.denominator * other.nominator
        new_denominator = self.denominator * other.denominator
        return Rational(new_nominator, new_denominator)

    def __sub__(self, other):
        new_nominator = self.nominator * other.denominator - self.denominator * other.nominator
        new_denominator = self.denominator * other.denominator
        return Rational(new_nominator, new_denominator)

    def __mul__(self, other):
        new_nominator = self.nominator * other.nominator
        new_denominator = self.denominator * other.denominator
        return Rational(new_nominator, new_denominator)

    def __truediv__(self, other):
        new_nominator = self.nominator * other.denominator
        new_denominator = self.denominator * other.nominator
        return Rational(new_nominator, new_denominator)

    def __str__(self):
        return f"{self.nominator}/{self.denominator}"

# Create two rational numbers
r1 = Rational(1, 2)
r2 = Rational(3, 4)

# Add the two rational numbers
result = r1 + r2
print(result)  # Output: 5/4

# Subtract the two rational numbers
result = r1 - r2
print(result)  # Output: -1/4

# Multiply the two rational numbers
result = r1 * r2
print(result)  # Output: 3/8

# Divide the two rational numbers
result = r1 / r2
print(result)  # Output: 2/3

In [ ]:
((500//7) % 5) ** 3

1

In [ ]:
 T = (3, 5, 7, 11)
 T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [ ]:
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

NameError: name 'paragraph' is not defined

In [ ]:
3 * 3 ** 3

81

In [ ]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [ ]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(len(l))

6

In [ ]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
C = [7, 8, 9, 18, 20, 21, 25, 26, 27, 31, 32, 34, 35, 36, 40, 43, 45, 47, 53, 58, 62, 67, 68, 71, 72, 74, 75, 76, 80, 81, 82, 90, 93, 95, 97, 99]
F = [1, 7, 10, 13, 16, 22, 24, 29, 30, 32, 34, 39, 40, 43, 44, 48, 56, 60, 65, 68, 69, 73, 77, 78, 90, 93, 94, 95, 96]
H = [5, 12, 14, 17, 20, 21, 22, 25, 28, 30, 37, 38, 39, 40, 42, 44, 57, 59, 61, 62, 67, 71, 75, 76, 77, 82, 83, 86, 87, 92, 94, 95]


# amoung which number is not there in list 41,48,63 ,85
for i in C:
  if i not in F and i not in H:
    print(i)

8
9
18
26
27
31
35
36
45
47
53
58
72
74
80
81
97
99

In [ ]:
netflix = {'The Debt Collector': 1821195, 'Act of Vengeance': 2804479, 'Paradise Lost': 2195477, "Gerald's Game": 3650626, 'Long Shot': 638440, 'Mak Cun': 1010311, 'Our Souls at Night': 3028705, 'Out of Thin Air': 2681938, "Paul Hollywood's Big Continental Road Trip": 230689, 'Satu Hari': 1012350, 'Monster High: Boo York, Boo York': 1526025, 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 2762103, 'Domino': 872663, 'TUNA GIRL': 2574816, '5CM': 2647713, 'Animal World': 220789, 'Hold the Dark': 2307432, 'Lessons from a School Shooting: Notes from Dunblane': 2419534, 'Made in Mexico': 3653712, 'Single': 239278, 'The 3rd Eye': 196138, 'The Sinking Of Van Der Wijck': 2831856, 'Two Catalonias': 1337119, 'Bobby Sands: 66 Days': 2005623, 'Bard of Blood': 744998, 'Deliha 2': 3638900, 'Dragons: Rescue Riders': 3241239, 'In the Shadow of the Moon': 1213329, 'Skylines': 1840094, 'Sturgill Simpson Presents Sound & Fury': 1915540, 'The Politician': 1019394, 'Weeds on Fire': 2273090, 'Much Loved': 3039852, 'Joseph: King of Dreams': 1734449, 'Malaal': 1926128, 'The Grandmaster': 2549410, 'The Inmate': 130965, 'The Hurricane Heist': 2191538, 'Def Comedy Jam 25': 1392697, 'Restless Creature: Wendy Whelan': 2474412, 'Print the Legend': 548250, 'Birders': 3478883, 'Furie': 2755115, 'Leap!': 1401638, 'Oh! Baby (Malayalam)': 839139, 'Oh! Baby (Tamil)': 2691505, 'USS Indianapolis: Men of Courage': 3286014, 'A Wrinkle in Time': 1258861, 'Teach Us All': 2428947, 'White Island': 1152905, 'Inside Man: Most Wanted': 2812661, 'Jeff Dunham: Beside Himself': 2930368, 'China Salesman': 3377292, 'Swearnet: The Movie': 949689, 'The Bar': 620655, 'Manmadhudu 2': 1842761, 'Team Kaylie': 359856, 'Under the Eiffel Tower': 2298237, 'Audrie & Daisy': 1573055, 'Iliza Shlesinger: Confirmed Kills': 365220, 'BONDING': 1664242, 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 2770879, '20 Feet From Stardom': 2931730, 'In Darkness': 3248749, 'Gaga: Five Foot Two': 3719550, 'The Bad Batch': 3656264, 'SMOSH: The Movie': 3697506, 'King of Boys': 584112, 'Merry Men: The Real Yoruba Demons': 2035595, "Sarah's Key": 1337902, 'The Wedding Party 2: Destination Dubai': 1471204, 'Vagabond': 1600432, 'Battlefish': 723021, 'DRAGON PILOT: Hisone & Masotan': 602919, 'Hilda': 54948, 'Maniac': 1348196, 'Quincy': 2601704, 'Rafinha Bastos: Ultimatum': 3469996, 'The Good Cop': 2265521, 'Between Two Ferns: The Movie': 3146508, 'Criminal: France': 2021409, 'Criminal: Germany': 658824, 'Criminal: Spain': 3078634, 'Criminal: UK': 2721398, 'Daddy Issues': 2119035, "Inside Bill's Brain: Decoding Bill Gates": 1755104, 'The Hockey Girls': 2000507, 'Travel Mates 2': 707260, 'True: Tricky Treat Day': 3213199, 'Two Sentence Horror Stories': 2438329, 'Mad World': 2281773, 'Mobile Suit Gundam UC': 778879, 'The Bund': 1729892, 'The First Line': 674591, 'Maynard': 84986, 'Monkey Twins': 3277179, 'Bitcoin Heist': 1450158, 'I Am Not Madame Bovary': 2763830, 'Vincent N Roxxy': 1961810, "Chef's Table: France": 2065738}

# " Do Paise Ki Dhoop Chaar Aane Ki Baarish " check value of
print(netflix['Do Paise Ki Dhoop Chaar Aane Ki Baarish'])

2770879

In [ ]:
print("Most Popular: " + max(netflix, key = netflix.get))
print("Least Popular: " + min(netflix, key = netflix.get))

Most Popular: Gaga: Five Foot Two
Least Popular: Hilda

In [ ]:
# Netflix has just received the number of views for the last week as well.
# Add these views to the total views and find the most popular title in terms of views.
# Also, find out how many views this title has?

total_views = sum(netflix.values())
print("Total Views:", total_views)
print("Most Popular Title:", max(netflix, key=netflix.get))
# Also, find out how many views this title has?

Total Views: 193679610
Most Popular Title: Gaga: Five Foot Two

## ***Basics of Python***

1. [*Jupyter Notebook quick starter guide*t](https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/)

2. [*Jupyter Notebook built-in Commands*](https://ipython.readthedocs.io/en/stable/interactive/magics.html)

3. [*Data types in Python*](https://www.w3schools.com/python/python_datatypes.asp)

4. [*Arithmetic operations tutorial*](https://www.youtube.com/watch?v=QC_Wpj_cJKM)

5. [*String operations practice questions*](https://www.practicepython.org/exercise/2014/01/29/01-character-input.html)

6. *Additional Reading from the Summary section*

    ***Beginner Level:***

      A} [*Think Python - EBook*](https://greenteapress.com/wp/think-python-2e/)
      
      B} [*The Hitchhiker's Guide to Python*](https://docs.python-guide.org/intro/learning/)
      
      C} [*A byte of Python - EBook*](https://python.swaroopch.com/)

      D} [*Jupyter notebook mac shortcuts*](https://gist.github.com/kidpixo/f4318f8c8143adee5b40)

    ***Advanced Level:***
         
      - [*Problem-solving with algorithms - Interactive Ebook*](https://runestone.academy/ns/books/published/pythonds/index.html)

## ***Data structures in Python***

1. [*Python documentation on list*](https://docs.python.org/3/tutorial/introduction.html#lists)
2. [*Lists practice questions*](https://www.practicepython.org/exercise/2014/03/05/05-list-overlap.html)
3. [*Operations on Sets - Python Documentation*](https://docs.python.org/3/tutorial/datastructures.html#sets)
4. [*Dictionaries Tutorial*](https://www.youtube.com/watch?v=daefaLgNkw0)
5. *Additional Reading from the Summary section*

    A} [*Data structures - Python Documentation*](https://docs.python.org/3/tutorial/datastructures.html)

    B} [*Getting Started with Data*](https://runestone.academy/ns/books/published/pythonds/Introduction/GettingStartedwithData.html#built-in-collection-data-types)

## ***Control Structures and Functions in Python***

1. [*Decision Making - Supportive Interactive Content*](https://www.w3schools.in/python/decision-making/)

2. [*Loops and iterations - Supportive Interactive Content*](https://www.w3schools.com/python/python_for_loops.asp)

3. [*Comprehensions - Explained visually*](https://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/)

4. [*Functions- A Byte of Python - EBook*](https://python.swaroopch.com/functions.html)

5. [*Defining functions of your own - Supportive Content*](http://anh.cs.luc.edu/python/hands-on/3.1/handsonHtml/functions.html)

6. [*Python 3 idioms test*](https://python-3-patterns-idioms-test.readthedocs.io/en/latest/Comprehensions.html)

7. [*Map, Filter and Reduce Functions - Video Tutorial*](https://www.youtube.com/watch?v=hUes6y2b--0)

## ***OOP in Python***

**Basic Level**

1. [*Class and Objects - Video Tutorial*](https://www.youtube.com/watch?v=8O5kX73OkIY)

2. [*Methods - Video Tutorial*](https://www.youtube.com/watch?v=lVfGQOzzRCM)

3. [*Inheritance - Supportive Content*](https://python-course.eu/oop/inheritance.php)

**Advanced Level**

1. [*OOPs Tutorial - Video Tutorial Playlist*](https://www.youtube.com/watch?v=ZDa-Z5JzLYM&list=PL-osiE80TeTsqhIuOqKhwlXsIBIdSeYtc)