<a href="https://colab.research.google.com/github/HarshAade/DS_AI/blob/main/RL_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Real-Life Scenarios of Programming - I*

      Have u were wondered how back button
      simply we can create a list we can append and we can pop
      it is stack last in first out

    Now lets how the Youtube vedio views are count
    always there a list and flow of diagram lets say if user id or mail is in the list then it will do ntg and if user id or mail is not in the list then the count will incerase by one and the user id or mail wil be added to list

    Now lets say whow e commerce search engin work
    there is the product list in that all the product name are mention and that are in the string format and when the user entere product name the string searchs the same name as per the name match all the things are display and id they didnt match then as it ntg is printe

## *Real-Life Scenarios of Programming - II*

    Workflow of Searching resturtent in any food delivery app

    Workflow of tinder app

## *Swapping*

In [ ]:
in_string=input()
mylist = in_string.split(',')
x = int(mylist[0])
y = int(mylist[1])
print('x before swapping : {}'.format(x))
print('y before swapping : {}'.format(y))
temp = x
x = y
y = temp
print()
print('x after swapping : {}'.format(x))
print('y after swapping : {}'.format(y))

2 , 4
x before swapping : 2
y before swapping : 4

x after swapping : 4
y after swapping : 2

Can you swap two variables in python without using a third variable, as Sajan showed?

Hint: There is more than one way; let's see how many can you think of!

*Even or Odd*

In [ ]:
num = int(input())
# a = round(num)
if num % 2 == 0:
    print('Even')
else:
    print('Odd')

6
Even

Beautiful, Pretty and Sexy
Description
A number k is beautiful if it is of the form 3n+1, is pretty if it is of form 3n+2 and is sexy if it is of form 3n.

Given a number k, print if it is beautiful, pretty or sexy.

The process followed while coding any question is first to understand the problem, get to know and break it down, then think of what/how you can approach it with the tools at hand, and then implement it. Can you think of a problem you solved in your experience with a similar approach?

## *Alarm Clock*

Lets say we want to create alarm clock in that
Day of week: [1-7]
weekend: [6,7]
weekday: [1,5]
vacation: True or False

In [ ]:
import ast
input_str = input()
input_list = ast.literal_eval(input_str)

# If pass any varaible of inside "ast.literal_eval" ,
# it can infer automatically that weather that it is list or str or input float or anything

day_of_the_week = input_list[0]
is_on_vacation = input_list[1]

def alarm_clock(day_of_the_week, is_on_vacation = 0):
    weekend = [6,7]
    if is_on_vacation:
        if day_of_the_week not in weekend:
            return '10:00'
        else:
            return 'off'
    else:
        if day_of_the_week in weekend:
            return '10:00'
        else:
            return '7:00'
print(alarm_clock(day_of_the_week, is_on_vacation))

3, 0
7:00

*Factorial*

In [ ]:
number = int(input())

def factorial(number):
    if number < 0:
        return 'Enter Positive Number'
    elif number == 0:
        return 'Enter Greater Then 1'
    else:
        f = 1
        for i in range(1, number + 1):
            f *= i
        return f

k=factorial(number)
print(k)

6
720

*Reverse the Digits*

In [ ]:
n = int(input())
rev = 0
while n > 0:
    rem = n % 10
    rev = rev * 10 + rem
    n = n // 10

print(rev)

9876543210198
8910123456789

*How Many Chocolates?*

Sanjay loves chocolates. He goes to a shop to buy his favourite chocolate. There he notices there is an offer going on; upon bringing 3 wrappers of the same chocolate, you will get new chocolate for free if Sanjay has m Rupees. How many chocolates will he be able to eat if each chocolate costs c Rupees

m = 15
c = 2

total c = 7
for c choclate there are 7 wrappers and for each 3 wrapper will get a chocalate

2 more chocalate
one wrapper remaning from 7 so 2 more the chocalate means 1 + 2 = 3 so will add one more choclate
means total 10 chocalate

In [ ]:
mystring = input()
mylist = mystring.split(',')

m = int(mylist[0])
c = int(mylist[1])

choc = m // c
w = m // c

while w//3!=0:
    choc = choc + w//3
    w = w//3 + w%3
print(choc)

15 ,2
10

*Print the Pattern*

In [ ]:
n = int(input())
for i in range(1, n+1):
    for j in range(n-i):
      print(' ', end='')
    for j in range(i-1):
      print('*_', end='')
    print('*')

10
         *
        *_*
       *_*_*
      *_*_*_*
     *_*_*_*_*
    *_*_*_*_*_*
   *_*_*_*_*_*_*
  *_*_*_*_*_*_*_*
 *_*_*_*_*_*_*_*_*
*_*_*_*_*_*_*_*_*_*

*Practice Question one*

Alphabetic Patterns
Description
Given a positive integer 'n' less than or equal to 26, you are required to print the below pattern.



Sample Input: 5



Sample Output :

--------e--------

------e-d-e------

----e-d-c-d-e----

--e-d-c-b-c-d-e--

e-d-c-b-a-b-c-d-e

--e-d-c-b-c-d-e--

----e-d-c-d-e----

------e-d-e------

--------e--------



Sample Input : 3



Sample Output :

----c----

--c-b-c--

c-b-a-b-c

--c-b-c--

----c----

Practice Question 2

Armstrong Number

Description
Any number, say 'n', is called an Armstrong number if it is equal to the sum of its digits, where each is raised to the power of the number of digits in 'n'.

For example:

153=13+53+33



Write a Python code to determine whether an entered three-digit number is an Armstrong number or not.

Assume that the number entered will strictly be a three-digit number.

Print "True" if it is an Armstrong number and print "False" if it is not.

Sample Input:

153

Sample Output:

True

Execution Time Limit

Quetion no 3

Fibonacci Series

Description
Compute and display Fibonacci series up to 'n' terms where 'n' is a positive integer entered by the user.

You can go here to read about the Fibonacci series.

Sample Input:

5

Sample Output:

0

1

1

2

3

Question No 4

Sum of Primes
Description
Write a Python code to find the sum of prime numbers from 2 to 'n', where 'n' is a positive integer entered by the user.



Note: n can be non-prime or prime. You have to find the sum of primes till 'n' and not the sum of 'n' prime numbers. i.e., for input 10, the output should be 17.



Hint: You can try using lambda functions and comprehensions to reduce the lines of code you have to write.



Input: A positive integer n.

Output: A integer denoting the sum of primes less than or equal to n



Sample Input:

5

Sample Output:

10

Question No 5

Generalised Chocolate

Description
Earlier, you solved the chocolate problem where Sanjay had m rupees, and the cost of each chocolate was c rupees. The shopkeeper gave away one chocolate for three wrappers. In this problem, let's generalise the question by saying, Sanjay has m rupees, each chocolate costs c rupees, the shopkeeper will give away k chocolates for w wrappers. Can you find now how many chocolates Sanjay will be able to eat?



Input: 4 integers separated by space in order m c w k

integers c and w will be >0

integers m and k will be >=0

integer k will be <w



Output: An integer denoting the number of chocolates Sanjay will be able to get.



Sample input:

15, 2, 3, 1



Sample output:

10



Explanation:

Sanjay has 15 ₹, buys 7 chocolates for ₹ 2 each.

Sanjay now has 7 wrappers, exchanges 6 of them for 2 more chocolates.

Sanjay now has 3 wrappers and exchanges them for 1 more chocolate making a total of 10 chocolates.



Sample input:

15, 2, 3, 2



Sample output:

17



Explanation:

Sanjay has 15 ₹, buys 7 chocolates for ₹ 2 each.

Sanjay now has 7 wrappers, exchanges 6 of them for 4 more chocolates.

Sanjay now has 5 wrappers and exchanges 3 of them for 2 more chocolates.

Sanjay now has 4 wrappers and exchanges 3 of them for 2 more chocolates.

Sanjay now has 3 wrappers and exchanges them for 2 chocolates making a total of 17 chocolates.

Execution Time Limit
10 seconds

Swapping variables with and without the use of a temporary variable
Finding whether an integer is odd or even
Automating an alarm clock
Calculating the factorial of numbers
Reversing the digits of a number using ‘//’ and ‘%’ operators
Solving the chocolate bar puzzle
Printing patterns using nested loops

## data importing

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel('SA.xls', sheet_name = 'Orders')
print(data)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

In [ ]:
# prompt: i want data in dataframe its in serivse

import pandas as pd
data = pd.read_csv('Sample_Superstore.csv')
print(data)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2016-152156   11/8/2016  11/11/2016    Second Class
1          2  CA-2016-152156   11/8/2016  11/11/2016    Second Class
2          3  CA-2016-138688   6/12/2016   6/16/2016    Second Class
3          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
4          5  US-2015-108966  10/11/2015  10/18/2015  Standard Class
...      ...             ...         ...         ...             ...
9989    9990  CA-2014-110422   1/21/2014   1/23/2014    Second Class
9990    9991  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9991    9992  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9992    9993  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9993    9994  CA-2017-119914    5/4/2017    5/9/2017    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

In [ ]:
data.reset_index()

,index,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

# List Example

Smallest element

In [ ]:
#input have been taken for you here
import ast
input_str = input()
input_list = ast.literal_eval(input_str)
if len(input_list) == 0:
    print('List is empty')
else:
    min = input_list[0]
    for i in input_list:
        if i < min:
            min = i
    print(min)

-1,2,3,3,4,4,-9
-9

In [ ]:
# by using inbuilt function min() we can find it out

Above Average

In [ ]:

import ast
input_str = input()
input_list = ast.literal_eval(input_str)

#Remember how we took input in the Alarm clock Question in previous Session?
#Lets see if you can finish taking input on your own

data=input_list[0]
check=input_list[1]

#start writing your code to find if check is above average of data
s = 0
for item in data:
  s = s + item
avg = s/len(data)

if check > avg:
  print(check,'its above avg')
else:
  print(check,'is below avg')

[1,2,3,4,5],6
6 its above avg

Recruit New Members

Description
Suppose you are a manager at a big firm and are looking for new members for your team. You sent out an advertisement and have received a few applications. You have a habit of scoring people on a scale of 100. You have given scores to all the members of your team and the new applications. The selection process will be very straightforward if the applicant improves the average of the team, then you hire the applicant to join the team or else you reject the application.



Your objective is to write a program that gives out a list that consists of scores of the hired applicants.



Remember, the order of processing applications is going to be important here.



You may see this as an extension of the previous problem, which it is. You may use the code written in the previous question as a function to improve the code quality.

In [ ]:
import ast
team = ast.literal_eval(input())
applicant = ast.literal_eval(input())

def check_above_average(data, check):
   s = 0
   for item in data:
      s = s + item
   avg = s/len(data)
   if check > avg:
     return 1
   else:
     return 0

for appl in applicant:
  is_add = check_above_average(team,appl)
  if is_add==1:
    team.append(appl)

print(team)

[10,20,30,40,50]
[30,60,80,40]
[10, 20, 30, 40, 50, 60, 80]

Calendar

Description
You are planning to go to your friend's wedding, and you have long events all month, lasting at least a few days. You have the start and end dates of events, and your task is to find out events overlapping with the wedding date.



The code for taking input has already been written for you, please don't modify that, but do read and try to understand the way input has been taken. You will be asked to take input on your own for most of the problems here onwards. Taking data in a suitable format is an important skill for a Data Scientist.

In [ ]:
import ast
input_str1 = input()
input_list1 = ast.literal_eval(input_str1)
events = input_list1

wedding = int(input())

clash = 0
for event in events:
  if wedding >= event[0] and wedding <= event[1]:
    clash = clash + 1

print(clash)

[ [1, 4], [7, 10], [8, 8], [14, 23] ]
26
0

Fenced Matrix

input : 4,5

Output

     [1, 1, 1, 1, 1]
     [1, 0, 0, 0, 1]
     [1, 0, 0, 0, 1]
     [1, 1, 1, 1, 1]

input:3,2

Output:

    [1, 1]
    [1, 1]
    [1, 1]

You will be given two positive integers, m and n. You have to make a list of lists (which can be visualised as a matrix) of size m*n, that is, m sublists (rows), with each sublist having n integers (columns). The matrix should be such that it should have 1 on the border and 0 everywhere else. See sample input and output for more clarification.

In [ ]:
import ast

my_list = ast.literal_eval(input())
m = my_list[0]
n = my_list[1]

final =[0]*n
final = [list(final) for i in range(m)]


for i in range(m):
  for j in range(n):
    if i==0 or i==m-1 or j==0 or j==n-1:
      final[i][j] = 1

for i in final:
  print(i)

4,5
[1, 1, 1, 1, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 1]
[1, 1, 1, 1, 1]

Practice Questions - I

Lego Stack
Description
You are given a row of Lego Blocks consisting of n blocks. All the blocks given have a square base whose side length is known. You need to stack the blocks over each other and create a vertical tower. Block-1 can go over Block-2 only if sideLength(Block-2)>=sideLength(Block-1).



From the row of Lego blocks, you can only pick up either the leftmost or rightmost block.

Print "Possible" if it is possible to stack all n cubes this way or else print "Impossible".



Input Format:

The input will contain a list of n integers representing the side length of each block's base in the row starting from the leftmost.



Sample Input:

[5 ,4, 2, 1, 4 ,5]

Sample Output:

Possible

Question No: 02

Lego Stack
Description
You are given a row of Lego Blocks consisting of n blocks. All the blocks given have a square base whose side length is known. You need to stack the blocks over each other and create a vertical tower. Block-1 can go over Block-2 only if sideLength(Block-2)>=sideLength(Block-1).



From the row of Lego blocks, you can only pick up either the leftmost or rightmost block.

Print "Possible" if it is possible to stack all n cubes this way or else print "Impossible".



Input Format:

The input will contain a list of n integers representing the side length of each block's base in the row starting from the leftmost.



Sample Input:

[5 ,4, 2, 1, 4 ,5]

Sample Output:

Possible

Question no 3

Break the List
Description
Write a Python program to divide a given list into chunks of size k.



The number of elements in the list need not be divisible by k.



For example, if you want to divide the list [1,2,3,4,5,6,7] into chunk size k=4, then the first chunk will be [1,2,3,4], and the second one will have [5,6,7], i.e. the last chunk need not have k elements.



The input will have two lines, the first line would have the list, and the second line would have the value of k(the code for taking input has already been written, you should not change that).



The final output should have the list chunks in different lines.



Sample Input:

[1,2,3,4,5,6,7,8,9]

3

Sample Output:



[1, 2, 3]
[4, 5, 6]
[7, 8, 9]


A similar question was asked in a Data Analyst test.

Question no 4

Second Maximum Number in a List
Description
Given a list of numbers, find the second largest number in the list.



Note: There might be repeated numbers in the list. If only one number is present in the list, return 'not present'.



Examples:

Input 1:

[7, 2, 0, 9, -1, 8]

Output 1:

8



Input 2:

[3, 1, 4, 4, 5, 5, 5, 0, 2, 2]

Output 2:

4



Input 2:

[6, 6, 6, 6, 6]

Output 2:

not present

Question no 5

Pattern Printing
Description
Given a positive integer n. Print the pattern as shown in sample outputs.

A code has already been provided. You have to understand the logic of the code on your own and try and make changes to the code so that it gives the correct output.



Input: A positive integer n

1<= n <=9



Output: Pattern as shown in examples below





Sample input:

4



Sample output:

4444444

4333334

4322234

4321234

4322234

4333334

4444444



Sample input:

5



Sample output:

555555555

544444445

543333345

543222345

543212345

543222345

543333345

544444445

555555555

In [ ]:
print(chr(51))

3

# String Example

Palindrome String

In [ ]:
s = input()
s =s.lower()
r = ""

for i in s:
  r = i + r

if s == r:
  print("Palindrome")
else:
  print("Not Palindrome")

HAnnah
Palindrome

Reverse Words

In [ ]:
sentance = input()

words = sentance.split(' ')
reverse_list = words[::-1]
fianl_string = " ".join(reverse_list)
print(fianl_string)

Harsh love Family
Family love Harsh

In [ ]:
name=input()

#reverse the words of the sentence here

wordss= name.split(' ')
wordss.reverse()

print(" ".join(wordss))

python is super easy and fun
fun and easy super is python

No Spaces

In [ ]:
s = input()

s = s.lower()
words = s.split(' ')
final_list = [word[0].upper() + word[1:] for word in words]
final_string = '_'.join(final_list)
print(final_string)

Data scince
Data_Scince

Move Vowels

In [ ]:
s  = input()
vowls = "aeiouAEIOU"

v = ""
o = ""

for i in s:
  if i in vowls:
    v = v + i
  else:
    o = o + i

print(v+o)

Harsh aade
aaaeHrsh d

Common Prefix

In [ ]:
string1 = input()
string2 = input()

string1 = string1.lower()
string2 = string2.lower()

l1 = len(string1)
l2 = len(string2)

min_len = min(l1,l2)

for i in range(min_len):
  if string1[i] != string2[i]:
    break
if i == 0:
  print("No Common Prefix")
else:
  print(string1[:i])

Program
Progress
Progr

Anagrams

Two words are called anagrams if they have the same letters but in a different order. For example, 'night' and 'thing' are anagrams.

In [ ]:
s1 = input()
s2 = input()

def anagrams(s1,s2):
  if len(s1) != len(s2):
    return False
  for i in range(len(s1)):
    if s1.count(s1[i]) != s2.count(s1[i]):
      return False
  return True

print(anagrams(s1,s2))

thing
night
True

Practice Questions 1

Find Extra Character
Description
Given two strings, one of the strings will contain an extra character. Find the extra character. The number of all the other characters in both the strings will be the same. Check the sample input/output for more clarification.



The code will be case-sensitive.



----------------------------------------------------------------------

Input:

Two strings on two separate lines.



Output:

One character which is extra in one of the strings.



----------------------------------------------------------------------

Sample input:

abcd

cedab



Sample output:

e

Question No 2

Integer or String
Description
You have been using ast.literal_eval() to take input in a suitable format. Have you thought of how it distinguishes between different data types and data structures?



We will solve a similar but smaller problem here. You will be given a string as input. You will have to determine if the string can be an integer or not.



This is also encountered a lot in Data Science. Upon taking a lot of data, sometimes integer values are treated as a string, and due to that, a lot of functionalities of integer data that you will learn ahead are rendered useless.



----------------------------------------------------------------------

Input:

A single line of string.



Output:

INT if the input string is an integer and STR otherwise.



----------------------------------------------------------------------

Sample input:

12



Sample output:

INT



----------------------------------------------------------------------

Sample input:

12.4



Sample output:

STR



Explanation: You only have to print INT if it's an integer; in this case, it is a float.



----------------------------------------------------------------------

Sample input:

43a



Sample output:

STR

Question No 03

Clean Numbers
Description
While extracting data from different sources, numeric values often come in string format and with commas like 1,000 or 23,321 and sometimes with spaces in the start and beginning of the string. For simplicity, we will consider only integer values embedded with commas. You will take the input and print the cleaned integer without commas and spaces.



----------------------------------------------------------------------

Input:

One line input of string, it will consist of only spaces, commas and digits.



Output:

Cleaned number.



----------------------------------------------------------------------

Sample input:

     3,213



Sample output:

3213



----------------------------------------------------------------------

Sample input:

4,68,72,352      



Sample output:

46872352

Question no 4

Secret Message
Description
You write all your passwords in a diary so that you don't forget them. But clearly, this is too risky, so you came up with a simple plan; you will simply write it by shifting all the alphabets by a certain step. For example, if you decide your step to be 3, then 'a' will become 'd', and 'k' will become 'n' and so for all alphabets. The last alphabets will simply circle back to 'a'. In this case, 'y' will become 'b' and so on. Now you just have to remember the step size, can then you can check the password anytime you want. You decided to write code to do this, now that you have learnt to code in python. Your code will take in the step size and what is written in the diary and give out the real password.



----------------------------------------------------------------------

Input:

A list of two elements.

The first element will be a string consisting of only alphabets which are taken from the diary, and the second element will be the step size.



Output:

A string denoting the password



----------------------------------------------------------------------

Sample input:

['ytKveh', 4]



Sample output:

upGrad



Explanation:

The password was 'upGrad'. Upon changing it by step of 4,

u became y,

p became t,

G became K,

r became v,

a became e,

d became h,

and thus what was written in the diary was ytKveh.



----------------------------------------------------------------------

Sample input:

['banana', 7]



Sample output:

utgtgt

Question No 5

A Weird Sum
Description
Write a program that computes the value of n+nn+nnn+nnnn+... nn...n ntimes with a given number as the value of n.



For example, if n=3 , then you have to find the value of 3+33+333

if n=10, then you have to find the value of 10 + 1010 + 101010 + 10101010 + 1010101010 + 101010101010 + 10101010101010 + 1010101010101010 +101010101010101010+ 10101010101010101010

Remove Duplicates

In [13]:
import ast
mylist = ast.literal_eval(input())

d = {}

for item in mylist:
  if item not in d:
    d[item] = 1

print(list(list(d.keys())))

4, 4, 4, 4
[4]

In [10]:
# now lets check count of each number coming in the list
import ast
mylist = ast.literal_eval(input())

d = {}

for item in mylist:
  if item not in d:
    d[item] = 1
  else:
    d[item] = d[item] + 1

a = list(list(d.keys()))
b = list(list(d.values()))

# Print like key value pair
for i in range(len(a)):
  print(a[i], b[i])

8, 9, 2, 2, 3, 4, 5, 2
8 1
9 1
2 3
3 1
4 1
5 1

Dictionary to List

Sample input:

{‘Mobile’: [‘Redmi’, ‘Samsung’, ‘Realme’],

‘Laptop’: [‘Dell’, ‘HP’],

‘TV’: [‘Videocon’, ‘Sony’] }



Sample output:

[‘Mobile_Redmi’, ‘Mobile_Samsung’, ‘Mobile_Realme’, ‘Laptop_Dell’, ‘Laptop_HP’, ‘TV_Videocon’, ‘TV_Sony’]

What is ast.literal_eval?

      ast.literal_eval is a function in Python that can safely read and understand simple data structures, like:
        Strings (e.g., "hello")
        Numbers (e.g., 42, 3.14)
        Lists (e.g., [1, 2, 3])
        Dictionaries (e.g., {"name": "Alice", "age": 30})
        Tuples (e.g., (1, 2, 3))
        Sets (e.g., {1, 2, 3})

     Why is ast.literal_eval useful?
        The main benefit of using ast.literal_eval is that it's safe.
        Unlike the regular eval() function in Python, ast.literal_eval only allows a limited set of data structures.
        This means it won't execute any arbitrary code, which could be potentially harmful.

    For example, if you have a string that contains a Python expression,
    like "__import__('os').system('rm -rf /')",
    eval() would actually run that command and delete your entire file system! But ast.
    literal_eval would simply refuse to evaluate that, keeping your system safe.

    How to use ast.literal_eval
    You can use ast.literal_eval like this:
    python
    import ast

    data = "[1, 2, 3]"
    my_list = ast.literal_eval(data)
    print(my_list)  # Output: [1, 2, 3]

In this example, ast.literal_eval takes the string "[1, 2, 3]" and turns it into a Python list object.
So, in summary, ast.literal_eval is a handy and safe way to convert simple data structures from strings into actual Python objects, without the risk of running arbitrary code.

In [23]:
import ast
input_str = input()
#input dictionary has been received in input_dict
input_dict = ast.literal_eval(input_str)

#start writing your code here


l = []
for key, value in input_dict.items():
  for item in value:
    l.append(key + "_" + item)

print(l)

{'Mobile': ['Redmi', 'Samsung', 'Realme'], 'Laptop': ['Dell', 'HP'], 'TV':['Videocon', 'Sony'] }
['Mobile_Redmi', 'Mobile_Samsung', 'Mobile_Realme', 'Laptop_Dell', 'Laptop_HP', 'TV_Videocon', 'TV_Sony']

upGrad String
Description
For this question, we will define something called an upGrad string. Note that this definition is not valid outside this question. A string is an upGrad string if the frequency of its characters is something like 1, 2, 3, 4,... That is a character appears only once, another appears twice, another appears thrice, and so on. For example, the string '$yrr$ssrsr' is an upGrad string since the frequency of y is 1, $ is 2, s is 3, r is 4. However, the string '$yrr$ssrsr%' will not be an upGrad string since it has two characters (y and %) with frequency 1. The frequency of characters should be of form 1, 2, 3, 4, 5... only and no two characters will have the same frequency.

Given a string, can you determine if the string is an upGrad string or not?





Input:

A string.



Output:

Boolean depending whether the string is upGrad string or not





Sample input:

$yrr$ssrsr



Sample output:

True





Sample input:

$yrr$ssrsr%



Sample output:

False



Sample input:

ab#ab#aba



Sample output:

False



Sample input:

ab#ab#ab6a



Sample output:

True

In [26]:
s = input()

#start writing your code here

d = {}
for i in s:
  if i not in d:
    d[i] = 1
  else:
    d[i] = d[i] + 1

vals = d.values()
n = len(d)

def upgrad_strings(vals, n):
    for i in range(1,n-1):
      if i not in vals:
        return False
    return True

print(upgrad_strings(vals, n))

ab#ab#ab6a
True

Balanced Brackets

Description
You will be given a string with a lot of brackets. You have to print if the brackets are balanced or not. Remember, there are three types of brackets: ‘( )’,  ‘{ }’ and ‘[ ]’.

----------------------------------------------------------------------
Input:
A string

Output:
Yes, if the brackets are balanced.
No otherwise.

----------------------------------------------------------------------
Sample input:
){[[]]}())()

Sample output:
No

----------------------------------------------------------------------
Sample input 2:
[](){[]()(){}}

Sample output 2:
Yes

In [33]:
imp = input()

#start writing your code here

stack = []

for i in imp:
  if len(stack) == 0:
    stack.append(i)
  else:
    if i == ')' and stack[-1] == '(':
      stack.pop()
    elif i == '}' and stack[-1] == '{':
      stack.pop()
    elif i == ']' and stack[-1] == '[':
      stack.pop()
    else:
      stack.append(i)

if stack:
  print('No')
else:
  print('Yes')

[](){[]()(){}}
Yes

Question No 1

Cheapest Item
Description
You will be given a dictionary with keys as items and values as their prices. You have to print the cheapest item.



----------------------------------------------------------------------

Sample input:

A single line non-empty dictionary.



Sample output:

cheapest_item name: cheapest_item_cost.



----------------------------------------------------------------------

Sample input:

{'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}



Sample output:

mobile4: 9000



Note: in the case of a tie, whichever item came first should be the output.

Question no 2

Maximum Distance
Description
You will be given a list of repeated elements. You have to find the maximum distance between two same elements. The answer will be zero if there are no repeated elements.



----------------------------------------------------------------------

Input:

A non-empty list of integers.



Output:

A single integer denoting the maximum distance between two same integers.



----------------------------------------------------------------------

Sample input:

[1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]



Sample output:

8



Explanation:

Max distance for 1: 5

Max distance for 2: 8

Max distance for 3: 0

Max distance for 4: 0

Max distance for 5: 0

Max distance for 6: 4

Max distance for 7: 0

Max distance for 8: 0

Qustion No 3

Vote for Food
Description
Your team is going camping, and you are taking a vote to decide what food to pack for dinner.

Everyone gets a vote, and the food item that gets at least one more than half of the votes wins. None of the items wins if nothing gets at least one more than half the votes. Assume that every person gets only one vote.

The input will contain a list of food items where each occurrence of an item represents one vote. You should print the winning food item as output if there is no clear winner, print "NOTA".



Sample Input:

["pasta","pasta","pasta","pasta","pasta","paratha","paratha","paratha"]

Sample Output:

pasta



This question was asked in a Data Analyst interview.

Question no 4

Flatten a dictionary
Description
Consider a nested dictionary as follows:

{'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}

Your task is to flatten a nested dictionary and join the nested keys with the "_" character. For the above dictionary, the flattened dictionary would be as follows:

{'Fruit': 1, 'Vegetable_Cabbage': 2, 'Vegetable_Cauliflower': 3, 'Spices': 4}



The input will have a nested dictionary.

The output should have two lists. The first list will have keys, and the second list should have values. Both lists should be sorted.

Sample Input:

{'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}

Sample Output:

['Fruit', 'Spices', 'Vegetable_Cabbage', 'Vegetable_Cauliflower']
[1, 2, 3, 4]




You will find the inbuilt function isinstance() of python quite useful here. Read more about it here.

# Question for  me

1. Using Built-in Functions
Description
Write a Python program to find the minimum of two numbers.

2. Description
Write a Python program to insert the ‘&’ character in between every character of a string.

  Hint: Make use of a certain built-in function.

3. List Comprehensions
Description
Problem Statement

  Write a Python function called 'count_even_numbers' that takes a list of integers as input and returns the count of even numbers in the list.

  Function Signature

  def count_even_numbers(numbers: List[int]) -> int:
    pass
  Write the function definition for 'count_even_numbers' that follows the specifications above.
  Input  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  Output 5

1 . List of Names
Description
Perform the following operations on a list of names:

- Create a list of 5 names - ‘Anil’, ‘Amol’, ‘Aditya’, ‘Avi’, ‘Alka’

- Insert the name ‘Anuj’ before ‘Aditya’

- Append the name ‘Zulu’

- Delete ‘Avi’ from the list

- Replace ‘Anil’ with ‘AnilKumar’

- Sort all the names in the list

- Print reversed sorted list

2. Average of Numbers
Description
You are given a list of numbers. Write a function find_average that takes the list as input and returns the average of the numbers in the list as a floating-point value.



Function signature:



def find_average(nums: list) -> float:
    pass


Input:

The input parameter nums is a list of numbers. The list is guaranteed to have at least one element



Output:

The function should return a float value representing the average of the numbers in the list.



Example:



numbers = [1, 2, 3, 4, 5]
print(find_average(numbers))


Output:



3.0

1. Valid customer IDs
Description
Simon runs a pharmaceutical factory. Only customers who have been pre-approved can enter the manufacturing facility and do a quality check for their order.
The pre-approved customers get a customer ID which needs to be validated at entrance.
A valid customer ID:
-It will have groups of three characters separated by "_".
-Can only contain numbers 0-9 and characters a-z and A-Z.(other than "_")
-Contains 12 characters excluding the "_"
-A character cannot be repeated more than thrice.

You have to write Python code to check for valid customer IDs.
The input will have a customer ID and the output should say "valid" if the entered ID is valid otherwise it should say "invalid".

Sample Input:
abc_123_2ac_Adf

Sample Output:
valid

Execution Time Limit

2. Reverse Words
Description
Question:

You are given a string representing a sentence. Write a function reverse_words that takes the sentence as input and returns the sentence with the words reversed.



Function signature:

def reverse_words(sentence: str) -> str:
    pass


﻿Input:

The input parameter sentence is a string representing a sentence. The sentence consists of words separated by a single space. The sentence may contain punctuation marks and special characters.



Output:

The function should return a string representing the sentence with the words reversed.



Example:

sentence = "Hello, world! How are you?"
print(reverse_words(sentence))


Output:

,olleH !dlrow woH era ?uoy
Execution Time Limit

1,. Dictionaries
Description
You are given a dictionary representing the scores of students in a class. Each key-value pair in the dictionary represents a student's name and their corresponding score. Write a function 'find_top_student' that takes the dictionary as input and returns the name of the student with the highest score.



Function signature:

def find_top_student(scores: dict) -> str:
    pass


Input:



The input parameter scores is a dictionary where the keys are strings (student names) and the values are integers (scores). The dictionary is guaranteed to have at least one entry.



Output:



The function should return a string representing the name of the student with the highest score.



﻿Example:

scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 90}
print(find_top_student(scores))


Output:

Bob

2. Dictionaires
Description
Write a Python function called "calculate_average_grades" that takes in a dictionary representing student grades as input and returns a dictionary containing the average grade for each student.



The input dictionary will have the following format:

{
    "student1": [grade1, grade2, ...],
    "student2": [grade1, grade2, ...],
    ...
}
The output dictionary should have the following format:

{
    "student1": average_grade1,
    "student2": average_grade2,
    ...
}
Function Signature:

def calculate_average_grades(grades: dict) -> dict:
    pass
Write the function definition for "calculate_average_grades" that follows the specifications above.

Note: Round the average to two decimal places.



Sample Test Case

Input:

{"Alice": [85, 90, 92], "Bob": [78, 80, 75], "Charlie": [92, 88, 95]}
Output:

{"Alice": 89.0, "Bob": 77.67, "Charlie": 91.67}